body{
    background-color: blueviolet;
    margin: 0;
}
h1{
    color: rgb(213, 23, 23);
    text-align: center;
    font-size: 4rem;
}
p{
    color: rgb(8, 202, 66);
    text-align: center;
    font-size: 2em;
}